.site__main {
  margin-top: 80px;
  padding-left: var(--site-edge-margin);
  padding-right: var(--site-edge-margin);
  background-color: inherit;
}

.main__container {
  display: flex;
  position: relative;
  max-width: 1100px;
  margin: 0 auto;
  justify-content: space-between;
}